@import './common';

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .header {
    padding-top: 20px;
  }
  .search-form-input {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// 主要容器的宽度

@media (max-width: $MAIN-MIN-WIDTH + 2*$MARGIN-WIDTH) {
  .main {
    width: $MAIN-MIN-WIDTH;
  }
  .aside {
    display: none;
  }
  .toolbar {
    width: 100%;
  }
}

@media (min-width: $MAIN-MIN-WIDTH + 2*$MARGIN-WIDTH) {
  .main {
    width: 100%;
  }
  .aside {
    display: none;
  }
  .toolbar {
    width: 100%;
  }
}

@media (min-width: $MAIN-MEDIUM-WIDTH + 2*$MARGIN-WIDTH) {
  .main {
    width: $MAIN-MEDIUM-WIDTH;
  }
  .aside {
    display: none;
  }
  .toolbar {
    width: $MAIN-MEDIUM-WIDTH;
  }
}

@media (min-width: $MAIN-MEDIUM-WIDTH + $ASIDE-WIDTH + 3*$MARGIN-WIDTH) {
  .main {
    width: $MAIN-MEDIUM-WIDTH;
  }
  .aside {
    display: block;
    width: $ASIDE-WIDTH;
  }
  .toolbar {
    width: $MAIN-MEDIUM-WIDTH + $ASIDE-WIDTH + $MARGIN-WIDTH;
  }
}

@media (min-width: $MAIN-MAX-WIDTH + $ASIDE-WIDTH + 3*$MARGIN-WIDTH) {
  .main {
    width: $MAIN-MAX-WIDTH;
  }
  .aside {
    display: block;
    width: $ASIDE-WIDTH;
  }
  .toolbar {
    width: $MAIN-MAX-WIDTH + $ASIDE-WIDTH + $MARGIN-WIDTH;
  }
}
