@import './common';
@import './header';
@import './main';
@import './layouts';

html,
body {
  width: 100%;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  transition: 0.5s;
}

.toolbar {
  @include flex();
  height: 70px;
  margin: $MARGIN-WIDTH auto;
  background-color: #f5f5f5;
}

.aside {
  @include flex();

  box-sizing: border-box;
  position: sticky;
  top: $NAV-HEIGHT + $MARGIN-WIDTH;

  height: 200px; // todo 待更新
  background-color: #f5f5f5;
  margin-left: $MARGIN-WIDTH;
}

.footer {
  @include flex();
  box-sizing: border-box;
  height: 120px;
  margin-top: $MARGIN-WIDTH;
  padding: $MARGIN-WIDTH;
  background-color: #f5f5f5;
}
